#formulario{
    margin-top: 3rem;
    width: 70%;
    margin-left: 15%;
}

.titulo__form{
    color: var(--color-sec);
    text-align: center;
    margin-bottom: 3rem;
}

#form {
/* Temp */
    padding: 1rem;
    background-color: #fff;
    border: 1px solid var(--color-prim);
    border-radius: 4px;
    /* End Temp */
}

.form-row {
    /* margin-bottom: 1rem; */
    position: relative;
    margin-bottom: .3rem;
}



.form-row input {
    box-sizing: border-box;
    width: 100%;
    padding: 3px;
    color: var(--color-prim);
    border: 1px solid var(--color-prim);
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    outline: 0;
}

.form-row input + label {
    pointer-events: none;
}

.form-row input + label:after {
    content: attr(data-placeholder);
    display: block;
    position: absolute;
    top: 35%;
    left: 0.5rem;
    transform: translate(0%, -50%);
    transition: all 0.5s ease-in-out;
    padding: 0 0.25rem;
}

.form-row input:focus, form .form-row input:valid {
    border: 1px solid var(--color-sec);
}

.form-row input:focus + label:after, form .form-row input:valid + label:after {
    transform: translate(-5%, -150%) scale(0.9, 0.9);
    color: var(--color-sec);
    background-color: white;
}

.formulario__boton{
    font-size: 16px;
    border: none;
    display: block;
    width: 30%;
    height: 30px;
    margin: 10px auto;
    color: black;
    background: -webkit-linear-gradient(to left, var(--color-ter), var(--color-prim), var(--color-ter));
    background: linear-gradient(to left, var(--color-ter), var(--color-prim), var(--color-ter));
}

.formulario__boton:hover{
    background: var(--color-sec);
}